<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>A new voice from the Compact Muon Solenoid each month</h3>
                <h1>@CMSvoices</h1>
                <h5>Engage with members of the CMS Collaboration at CERN</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/CMSvoices" data-widget-id="648868820275359744" data-chrome=" noborders noscrollbar">Tweets by @CMSvoices</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </p>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
